* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    line-height: 1.4;
    /* font-weight: 300; */
    font-family: 'Josefin Sans', sans-serif;
}

.name_logo {
    font-size: medium;
    font-style: inherit;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;

}

nav {
    box-shadow: 5px 5px 10px red;
    box-shadow: inset;
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: yellow;
    padding: 0 px 9px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    /* color: yellow; */
    background-color: yellow (221, 243, 21);
    max-width: 1200px;
    max-height: 100%;
    margin: 0 auto;
    padding: 0 20px;

}

.bar_icon {
    font-size: 25px;
}

.temp {
    font-size: large;
    font-weight: bolder;
}

.hero {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.hero_image {
    margin: 50px;
}

.hero_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tag {
    background-color: green;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    align-self: flex-start;
}
.hero_content h1{
    font-size: 72px;
}